.bounce {
    animation: bounce 2s;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
}

@keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
    transform: translateY(0);
    }
    40% {
    transform: translateY(-20px);
    }
    60% {
    transform: translateY(-12px);
    }
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.delay {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
  
  